<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <%
					var image_src;
					if (id == '') {
						image_src = '../resources/img/helmet.jpg';
					}
					else {
						image_src = player[0].img_src;
					}
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form" action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							<%
							if(id == '') {
								%><option selected>Select Player</option><%
							}%>
							<!-- TODO: Populate our select with player options
									 For each player, set a new option with a value matching the player's id,
									 but will display the player's name-->

							<% for (var i = 0; i < data.length; i++) {
									if ((i+1) != id) {%>
										<option value="<%= data[i].id%>"><%= data[i].id + ". " + data[i].name%></option>
									<%}
									else {
										%><option selected><%= data[i].id + ". " + data[i].name%></option><%
									}
								}%>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->

							<% if (id != '') {%>
								<tr>
									<th>Year</th>
									<td><%= player[0].year%></td>
								</tr>
								<tr>
									<th>Major</th>
									<td><%= player[0].major%></td>
								</tr>
								<tr>
									<th>Games Played</th>
									<td><%= tot_games[0].count%></td>
								</tr>
								<tr>
									<td>Passing Yards: <%= player[0].passing_yards%></td>
									<td>Avg. Passing Yards: <%= ((player[0].passing_yards)/(tot_games[0].count)).toPrecision(2)%></td>
								</tr>
								<tr>
									<td>Rushing Yards: <%= player[0].rushing_yards%></td>
									<td>Avg. Rushing Yards: <%= ((player[0].rushing_yards)/(tot_games[0].count)).toPrecision(2)%></td>
								</tr>
								<tr>
									<td>Receiving Yards: <%= player[0].receiving_yards%></td>
									<td>Avg. Receiving Yards: <%= ((player[0].receiving_yards)/(tot_games[0].count)).toPrecision(2)%></td>
								</tr>
								<%}
							else {%>
								<tr>
									<th>Year</th>
									<td></td>
								</tr>
								<tr>
									<th>Major</th>
									<td></td>
								</tr>
								<tr>
									<th>Games Played</th>
									<td></td>
								</tr>
								<tr>
									<td>Passing Yards: </td>
									<td>Avg. Passing Yards: </td>
								</tr>
								<tr>
									<td>Rushing Yards: </td>
									<td>Avg. Rushing Yards: </td>
								</tr>
								<tr>
									<td>Receiving Yards: </td>
									<td>Avg. Receiving Yards: </td>
								</tr>
							<%}%>
					</table>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
